<component name="ArtifactManager">
  <artifact type="war" name="spring_testMVC:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>spring_testMVC</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="spring_testMVC-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_testMVC:war exploded" />
    </root>
  </artifact>
</component>